

<h1>Search results: </h1>
<br>
<mat-divider></mat-divider>
<!--
  Tabele:
  https://material.angular.io/components/table/overview
 -->
 <mat-table [dataSource]="items" matSort>
  <ng-container matColumnDef="itemName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Item name</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.itemName }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="level">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Item level</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.level | number }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="owner">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Item owner</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.owner.username }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="dateCreated">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Date of creation</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.dateCreated | date}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="basePrice">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Unit price</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.basePrice | number}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="amount">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Amount of given item</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.amount | number}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="total">
    <mat-header-cell *matHeaderCellDef mat-sort-header>In total</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.basePrice * element.amount| number}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="buy?">
    <mat-header-cell *matHeaderCellDef >Buy item</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-raised-button color="warn" *ngIf="element.owner.username != loggedInUser" (click)="buyComponent(loggedInUser, element.id, element.basePrice, element.amount )">Buy</button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let rows; columns: displayedColumns;"></mat-row>
</mat-table>

<!--
  Paginacija / Stranicenje
  https://material.angular.io/components/paginator/api
 -->

 <mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 7, 15]"></mat-paginator>
 <mat-form-field>
  <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="do filter">
 </mat-form-field>
