<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a *ngIf="!(isLoggedIn$ | async) as isLoggedIn" mat-list-item routerLink="/register" (click)="sidenav.close()"
        >Signup <mat-icon>face</mat-icon>
      </a>
      <a *ngIf="!(isLoggedIn$ | async) as isLoggedIn" mat-list-item routerLink="/login" (click)="sidenav.close()"
        >Login <mat-icon>input</mat-icon>
      </a>
      <a mat-list-item routerLink="/items" (click)="sidenav.close()"
        >Items <mat-icon>store</mat-icon>
      </a>
      <a mat-list-item routerLink="/profile" *ngIf="(isLoggedIn$ | async) as isLoggedIn"(click)="sidenav.close();"
        >Profile <mat-icon>accessible_forward</mat-icon>
      </a>
      <a mat-list-item routerLink="/admin-panel" *ngIf="(isLoggedIn$ | async) as isLoggedIn"(click)="sidenav.close();"
        >Admin panel <mat-icon>accessible_forward</mat-icon>
      </a>
      <a mat-list-item routerLink="/logout" *ngIf="(isLoggedIn$ | async) as isLoggedIn"(click)="sidenav.close(); logout();"
        >Logout <mat-icon>accessible_forward</mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="warn" fxLayoutGap="15px">
      <div fxHide.gt-xs>
        <button (click)="sidenav.toggle()" mat-mini-fab color="primary">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <div>
        <a routerLink="/"><img src="../assets/Logo.png" height="63.99" alt="Slika ne radi"></a>
      </div>

      <!-- direktivaNardeba.dimenzijaDispleja - konkretan primer je ovde fxHide.xs -->

      <div fxFlex fxLayoutAlign="end" fxLayoutGap="15px" fxHide.xs>
        <a routerLink="/items">Items</a>
        <a *ngIf="!(isLoggedIn$ | async) as isLoggedIn" routerLink="/register">Signup</a>
        <a *ngIf="!(isLoggedIn$ | async) as isLoggedIn" routerLink="/login">Login</a>
        &nbsp;
        <span> | </span>
        &nbsp;
        <a *ngIf="(isLoggedIn$ | async) as isLoggedIn" routerLink="/admin-panel">Admin panel</a>
        <a *ngIf="(isLoggedIn$ | async) as isLoggedIn" routerLink="/profile">Profile</a>
        <a *ngIf="(isLoggedIn$ | async) as isLoggedIn" (click)="logout()" routerLink="/logout">Logout</a>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>

    <footer>
      <div id="footer">Copyright &copy; Stefan Dimitrijević - ISA project</div>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
