<section
  fxLayout="column"
  fxLayoutAlign="top center"
  fxLayoutGap="20px"
  style="height: calc(100% + 300px)"
>
  <h1>Welcome to the trade centre!</h1>

  <mat-tab-group fxFlex>
    <mat-tab label="Category CRUD">
      <p style="text-align: center">Edit categories:</p> <br />

      <section>
        <form
          fxLayout="column"
          fxLayoutAlign="center center"
          fxLayoutGap="20px"
          #f="ngForm"
          (ngSubmit)="onSubmitCategory(f)"
        >

        <mat-radio-group [(ngModel)] = "radioCUD" #radio="ngModel" name="radio" aria-label="What do you want to do?">
          <mat-radio-button value="create">Create a category</mat-radio-button>
          &nbsp;
          <mat-radio-button value="update">Update a category</mat-radio-button>
          &nbsp;
          <mat-radio-button value="delete">Delete a category</mat-radio-button>
        </mat-radio-group>

        <!-- <p  *ngIf="radio.value == 'create'">kreiranje</p>
        <p *ngIf="radio.value == 'update'">apdejtovanje</p>
        <p *ngIf="radio.value == 'delete'">brisanje</p> -->

          <mat-form-field *ngIf="radio.value == 'create'">
            <input
              type="text"
              [(ngModel)] = "newCategoryName"
              matInput
              placeholder="New category's name..."
              name="categoryName"
              #categoryNameInput="ngModel"
            />

            <mat-error *ngIf="categoryNameInput.hasError('required')"
              >Field should not be empty</mat-error
            >
          </mat-form-field>

          <mat-form-field *ngIf="radio.value == 'create'">
            <mat-label>Select parent category</mat-label>
            <mat-select [(ngModel)]="parentCategory" name="parentCategory" >
              <mat-option [value]="null">--</mat-option>
              <mat-option *ngFor="let category of categories" [value]="category">
                {{category.name}}
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error> -->
            <!-- <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
          </mat-form-field>

          <mat-form-field *ngIf="radio.value == 'update'">
            <mat-label>Select a category to update</mat-label>
            <mat-select [(ngModel)]="updateCategory" ngModel #updateCategoryInput="ngModel" name="updateCategory" required>
              <mat-option *ngFor="let category of categories" [value]="category.id">
                {{category.name}}
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error> -->
            <!-- <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
          </mat-form-field>

          <mat-form-field *ngIf="radio.value == 'update' && updateCategory">
            <mat-label>Select that category's parent</mat-label>
            <mat-select [(ngModel)]="updateCategoryParent" name="updateCategoryParent" required>
              <mat-option [value]="null">--</mat-option>
              <mat-option *ngFor="let category of categories" [value]="category">
                {{category.name}}
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error> -->
            <!-- <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
          </mat-form-field>

          <mat-form-field *ngIf="radio.value == 'update'">
            <mat-label>Update that category's name</mat-label>
            <input
            type="text"
            [(ngModel)] = "updateCategoryName"
            matInput
            placeholder="Update category's name..."
            name="updateCategoryName"
            #updateCategoryNameInput="ngModel"
            required
          />
          </mat-form-field>

          <mat-form-field *ngIf="radio.value == 'delete'">
            <mat-label>Select category to delete</mat-label>
            <mat-select [(ngModel)]="deleteCategory"  name="deleteCategory" required>
              <mat-option *ngFor="let category of categories" [value]="category.id">
                {{category.name}}
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="deleteCategoryInput.hasError('required')">Please choose a category to delete</mat-error> -->
            <!-- <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
          </mat-form-field>

          <button type="submit" mat-raised-button color="warn" [disabled]="f.invalid">
            Submit
          </button>

          <!-- <mat-label *ngIf="errorExists">{{ errorText }}</mat-label> -->
        </form>
      </section>


    </mat-tab>

    <mat-tab label="Quality CRUD">
      <p style="text-align: center">Edit qualities:</p> <br>

      <section>
        <form
          fxLayout="column"
          fxLayoutAlign="center center"
          fxLayoutGap="20px"
          #formaUpdate="ngForm"
          (ngSubmit)="onSubmitQuality(formaUpdate)"
        >

        <mat-radio-group [(ngModel)] = "radioCUD" #radio="ngModel" name="radio" aria-label="What do you want to do?">
          <mat-radio-button value="create">Create a quality</mat-radio-button>
          &nbsp;
          <mat-radio-button value="update">Update a quality</mat-radio-button>
          &nbsp;
          <mat-radio-button value="delete">Delete a quality</mat-radio-button>
        </mat-radio-group>

        <!-- <p  *ngIf="radio.value == 'create'">kreiranje</p>
        <p *ngIf="radio.value == 'update'">apdejtovanje</p>
        <p *ngIf="radio.value == 'delete'">brisanje</p> -->

          <mat-form-field *ngIf="radio.value == 'create'">
            <input
              type="text"
              [(ngModel)] = "newQualityName"
              matInput
              placeholder="New category's name..."
              name="newQualityName"
              #newQualityNameInput="ngModel"
            />

            <mat-error *ngIf="newQualityNameInput.hasError('required')"
              >Field should not be empty</mat-error
            >
          </mat-form-field>

          <mat-form-field *ngIf="radio.value == 'create'">
            <mat-label>Select new quality's color</mat-label>
            <mat-select [(ngModel)]="newQualityColor" name="newQualityColor" >
              <mat-option *ngFor="let color of cssColors" [value]="color">
                {{color}}
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error> -->
            <!-- <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
          </mat-form-field>

          <mat-form-field *ngIf="radio.value == 'update'">
            <mat-label>Select a quality to update</mat-label>
            <mat-select [(ngModel)]="updateQuality" ngModel #updateQualityInput="ngModel" name="updateQuality" required>
              <mat-option *ngFor="let quality of qualities" [value]="quality.id">
                {{quality.qualityName}}
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error> -->
            <!-- <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
          </mat-form-field>

          <mat-form-field *ngIf="radio.value == 'update'">
            <mat-label>Update that quality's name</mat-label>
            <input
            type="text"
            [(ngModel)] = "updateQualityName"
            matInput
            placeholder="Update quality's name..."
            name="updateQualityName"
            #updateQualityNameInput="ngModel"
            required
          />
          </mat-form-field>

          <mat-form-field *ngIf="radio.value == 'update'">
            <mat-label>Update quality's color</mat-label>
            <mat-select [(ngModel)]="updateQualityColor" name="updateQualityColor" >
              <mat-option *ngFor="let color of cssColors" [value]="color">
                {{color}}
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error> -->
            <!-- <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
          </mat-form-field>

          <mat-form-field *ngIf="radio.value == 'delete'">
            <mat-label>Select quality to delete</mat-label>
            <mat-select [(ngModel)]="deleteQualityId"  name="deleteQualityId" required>
              <mat-option *ngFor="let quality of qualities" [value]="quality.id">
                {{quality.qualityName}}
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="deleteCategoryInput.hasError('required')">Please choose a category to delete</mat-error> -->
            <!-- <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
          </mat-form-field>

          <button type="submit" mat-raised-button color="warn">
            Submit
          </button>

          <!-- <mat-label *ngIf="errorExists">{{ errorText }}</mat-label> -->
        </form>
      </section>

    </mat-tab>

    <mat-tab label="Trait CRUD">
      <p style="text-align: center">Edit traits:</p> <br>

      <section>
        <form
          fxLayout="column"
          fxLayoutAlign="center center"
          fxLayoutGap="20px"
          #formaTrait="ngForm"
          (ngSubmit)="onSubmitTrait(formaTrait)"
        >

        <mat-radio-group [(ngModel)] = "radioCUD" #radio="ngModel" name="radio" aria-label="What do you want to do?">
          <mat-radio-button value="create">Create a trait</mat-radio-button>
          &nbsp;
          <mat-radio-button value="update">Update a trait</mat-radio-button>
          &nbsp;
          <mat-radio-button value="delete">Delete a trait</mat-radio-button>
        </mat-radio-group>

          <mat-form-field *ngIf="radio.value == 'create'">
            <input
              type="text"
              [(ngModel)] = "newTraitName"
              matInput
              placeholder="New trait's name..."
              name="newTraitName"
              #newTraitNameInput="ngModel"
            />

            <mat-error *ngIf="newTraitNameInput.hasError('required')"
              >Field should not be empty</mat-error
            >
          </mat-form-field>

          <mat-form-field *ngIf="radio.value == 'update'">
            <mat-label>Select a trait to update</mat-label>
            <mat-select [(ngModel)]="updateTrait" ngModel #updateTraitInput="ngModel" name="updateTrait" required>
              <mat-option *ngFor="let trait of traits" [value]="trait.id">
                {{trait.traitName}}
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error> -->
            <!-- <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
          </mat-form-field>

          <mat-form-field *ngIf="radio.value == 'update'">
            <mat-label>Update that trait's name</mat-label>
            <input
            type="text"
            [(ngModel)] = "updateTraitName"
            matInput
            placeholder="Update trait's name..."
            name="updateTraitName"
            #updateTraitNameInput="ngModel"
            required
          />
          </mat-form-field>

          <mat-form-field *ngIf="radio.value == 'delete'">
            <mat-label>Select trait to delete</mat-label>
            <mat-select [(ngModel)]="deleteTraitId"  name="deleteTraitId" required>
              <mat-option *ngFor="let trait of traits" [value]="trait.id">
                {{trait.traitName}}
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="deleteCategoryInput.hasError('required')">Please choose a category to delete</mat-error> -->
            <!-- <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
          </mat-form-field>

          <button type="submit" mat-raised-button color="warn">
            Submit
          </button>

          <!-- <mat-label *ngIf="errorExists">{{ errorText }}</mat-label> -->
        </form>
      </section>


    </mat-tab>

    <mat-tab label="Edit user roles">
      <p style="text-align: center">Edit user roles:</p> <br>

      <section>
        <form
          fxLayout="column"
          fxLayoutAlign="center center"
          fxLayoutGap="20px"
          #formaRoles="ngForm"
          (ngSubmit)="onSubmitRoles(formaRoles)"
        >

        <mat-radio-group [(ngModel)] = "radioCUD" #radio="ngModel" name="radio" aria-label="What do you want to do?">
          <mat-radio-button value="create">Create a role</mat-radio-button>
          &nbsp;
          <mat-radio-button value="update">Update a role</mat-radio-button>
          &nbsp;
          <mat-radio-button value="delete">Delete a role</mat-radio-button>
        </mat-radio-group>

          <mat-form-field *ngIf="radio.value == 'create'">
            <input
              type="text"
              [(ngModel)] = "newRoleName"
              matInput
              placeholder="New role's name..."
              name="newRoleName"
              #newRoleNameInput="ngModel"
              required
            />

            <mat-error *ngIf="newRoleNameInput.hasError('required')"
              >Field should not be empty</mat-error
            >
          </mat-form-field>

          <mat-form-field *ngIf="radio.value == 'update'">
            <mat-label>Select a role to update</mat-label>
            <mat-select [(ngModel)]="updateRole" ngModel #updateRoleInput="ngModel" name="updateRole" required>
              <mat-option *ngFor="let role of roles" [value]="role.id">
                {{role.roleName}}
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error> -->
            <!-- <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
          </mat-form-field>

          <mat-form-field *ngIf="radio.value == 'update'">
            <mat-label>Update that role's name</mat-label>
            <input
            type="text"
            [(ngModel)] = "updateRoleName"
            matInput
            placeholder="Update role's name..."
            name="updateRoleName"
            #updateTraitNameInput="ngModel"
            required
          />
          </mat-form-field>

          <mat-form-field *ngIf="radio.value == 'delete'">
            <mat-label>Select role to delete</mat-label>
            <mat-select [(ngModel)]="deleteRoleId"  name="deleteRoleId" required>
              <mat-option *ngFor="let role of roles" [value]="role.id">
                {{role.roleName}}
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="deleteCategoryInput.hasError('required')">Please choose a category to delete</mat-error> -->
            <!-- <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
          </mat-form-field>

          <button type="submit" mat-raised-button color="warn">
            Submit
          </button>

          <!-- <mat-label *ngIf="errorExists">{{ errorText }}</mat-label> -->
        </form>
      </section>

    </mat-tab>

    <!-- NOTE: vidi da l' da dodas jos nesto -->

  </mat-tab-group>
</section>
