<section
  fxLayout="column"
  fxLayoutAlign="top center"
  fxLayoutGap="20px"
  style="height: calc(100% + 300px)"
>
  <h1>Welcome to the trade centre!</h1>

  <mat-tab-group fxFlex>
    <mat-tab label="Category CRUD">
      <p style="text-align: center">Edit categories:</p> <br />
    </mat-tab>

    <mat-tab label="Quality CRUD">
      <p style="text-align: center">Edit qualities:</p> <br>
    </mat-tab>

    <mat-tab label="Trait CRUD">
      <p style="text-align: center">Edit traits:</p> <br>
    </mat-tab>

    <mat-tab label="Edit user roles">
      <p style="text-align: center">Edit user roles:</p> <br>
    </mat-tab>

    <!-- NOTE: vidi da l' da dodas jos nesto -->

  </mat-tab-group>
</section>
