<section
  fxLayout="column"
  fxLayoutAlign="top center"
  fxLayoutGap="20px"
  style="height: calc(100% + 300px)"
>
  <h1>Welcome to the trade centre!</h1>

  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Simple search">
      <p style="text-align: center">Simple search:</p>
      <br />
      <form
        fxLayout="row"
        fxLayoutAlign="center center"
        fxLayoutGap="20px"
        #formSimple="ngForm"
        (ngSubmit)="onSubmitSimple(formSimple)"
      >

      <mat-form-field appearance="fill">
        <input
        type="search"
        ngModel
        matInput
        placeholder="Search for..."
        name="simpleSearch"
        />
      </mat-form-field>


      </form>
    </mat-tab>

    <mat-tab label="Advanced serach">
      <p style="text-align: center">Advanced serach</p>

      <form
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="20px"
        #form="ngForm"
        (ngSubmit)="onSubmit(form)"
      >
        <mat-form-field appearance="fill">
          <input
            type="text"
            ngModel
            matInput
            placeholder="Search for..."
            name="search"
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Select item category</mat-label>
          <mat-select matInput name="category" [(ngModel)]="selectedCategory" #selectedCategoryInput="ngModel" required>
            <mat-option value="any">Any category</mat-option>
            <mat-optgroup
              *ngFor="let category of categories"
              [label]="category.name"
              [disabled]="category.disabled"
            >
              <mat-option
                *ngFor="let subcategory of category.children"
                [value]="subcategory"
              >
                {{ subcategory.name }}
              </mat-option>
            </mat-optgroup>
          </mat-select>
          <mat-error *ngIf="selectedCategoryInput.hasError('required')">Please choose a category</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Select a trait</mat-label>
          <mat-select [(ngModel)]="selectedTrait"  name="trait">
            <mat-option value="any">Any trait</mat-option>
            <mat-option *ngFor="let trait of traits" [value]="trait">{{
              trait.traitName
            }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Select a quality</mat-label>
          <mat-select [(ngModel)]="selectedQuality" name="quality">
            <mat-option value="any">Any quality</mat-option>
            <mat-option
              *ngFor="let quality of qualities"
              [value]="quality"
              >{{ quality.qualityName }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <label for="level"></label>
        <ngx-slider
          [(value)]="levelSliderLow"
          [(highValue)]="levelSliderHigh"
          [options]="levelSliderOption"
          name="level"
          ngModel
        ></ngx-slider>

        <p>
          With level between {{ levelSliderLow | number }} and
          {{ levelSliderHigh | number }}
        </p>

        <label for="amount"></label>
        <ngx-slider
          [(value)]="amountSliderLow"
          [(highValue)]="amountSliderHigh"
          [options]="amountSliderOption"
          name="amount"
          ngModel
        ></ngx-slider>

        <p>
          With amount between {{ amountSliderLow | number }} and
          {{ amountSliderHigh | number }}
        </p>

        <label for="price"></label>
        <ngx-slider
          [(value)]="priceSliderLow"
          [(highValue)]="priceSliderHigh"
          [options]="pricetSliderOption"
          name="price"
          ngModel
        ></ngx-slider>

        <p>
          With price between {{ priceSliderLow | number }} and
          {{ priceSliderHigh | number }}
        </p>
        <button
          type="submit"
          mat-raised-button
          color="warn"
          [disabled]="form.invalid"
        >
          Submit
        </button>
      </form>
    </mat-tab>
  </mat-tab-group>
</section>
